
<!-- contentBlock -->
<div class="grid grid-cols-4 gap-x-lg">
    <div class="sticky top-0 hidden lg:block lg:col-span-1 h-screen  lg:-mt-2xl lg:pt-24 pb-lg overflow-y-auto">
        <!-- sidebarBlock -->
        <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2> 
        <desy-menu-vertical [idPrefix]="'sidebar-item'" [ariaLabelledBy]="'apartados-de-pagina'">
            <desy-menu-vertical-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'datos-generales'">
                Datos generales
                <desy-menu-vertical-item-sub>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'denominacion'">Denominación</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'descripcion'">Descripción</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'organos-o-unidades-gestoras'">Órganos o unidades gestoras</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'categorias'">Categorías</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'etiquetas-libres'">Etiquetas libres</desy-menu-vertical-item-sub-item>
                </desy-menu-vertical-item-sub>
            </desy-menu-vertical-item>
            <desy-menu-vertical-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'normativa-general'">Normativa general</desy-menu-vertical-item>
            <desy-menu-vertical-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'caracteristicas-generales-de-tramitacion'">
                Características generales de tramitación
                <desy-menu-vertical-item-sub>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'grupos-de-destinatarios'">Grupos de destinatarios</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'destinatarios'">Destinatarios</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'requisitos-generales'">Requisitos generales</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'canales-de-informacion'">Canales de información</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'tramites-principales'">Trámites principales</desy-menu-vertical-item-sub-item>
                    <desy-menu-vertical-item-sub-item [routerLink]="'./'" [routerLinkActiveClasses]="''" [fragment]="'resolucion'">Resolución</desy-menu-vertical-item-sub-item>
                </desy-menu-vertical-item-sub>
            </desy-menu-vertical-item>
        </desy-menu-vertical>
          <!-- /sidebarBlock -->
    </div>
    <section id="content-center" class="col-span-4 lg:col-span-3 py-base lg:-mt-2xl lg:pt-28 lg:pl-lg" aria-label="Contenido central">
        <!-- notificationInnerContentBlock -->    
        <app-notification-edit-inner-content [isEdit]="true"></app-notification-edit-inner-content>
        <!-- /notificationInnerContentBlock -->
    </section>
</div>
<!-- /contentBlock -->
