<!--
    Para utilizar headroom con angular puedes utilizar la librería https://www.npmjs.com/package/@ctrl/ngx-headroom
-->
<ngx-headroom>
    <desy-header [homepageRouterLink]="''" [classes]="'relative z-40'">
        <desy-header-subnav>Carpeta del gestor
            <desy-nav>
                <desy-nav-item [routerLink]="[]">Bandeja de entrada</desy-nav-item>
                <desy-nav-item [routerLink]="[]" [active]="true">Carpeta del gestor</desy-nav-item>
                <desy-nav-item [routerLink]="[]">Catálogo de servicios</desy-nav-item>
                <desy-nav-item [routerLink]="[]">Portafirmas corporativo</desy-nav-item>
            </desy-nav>
        </desy-header-subnav>
        <desy-header-navigation>
            <desy-header-navigation-item [href]="'/'" [active]="true">Inicio</desy-header-navigation-item>
            <desy-header-navigation-item [href]="''">Expedientes</desy-header-navigation-item>
            <desy-header-navigation-item [href]="''">Bandejas</desy-header-navigation-item>
        </desy-header-navigation>
        <desy-header-dropdown>
            Ana Pérez
            <desy-nav>
                <desy-nav-item [routerLink]="'/'">Perfil</desy-nav-item>
                <desy-nav-item [routerLink]="'/'">Cerrar sesión</desy-nav-item>
            </desy-nav>
        </desy-header-dropdown>
        <desy-header-offcanvas>
            <desy-header-offcanvas-button>Menú</desy-header-offcanvas-button>
            <desy-header-offcanvas-close-button>Cerrar menú</desy-header-offcanvas-close-button>
            <desy-content>
                <aside>
                    <nav class="w-full p-2" aria-label="Menú móvil">
                        <h3 class="p-base text-base font-bold">Carpeta del gestor</h3>
                        <desy-nav [idPrefix]="'nav-mobile-pages'" [ariaLabel]="'Lista de páginas'" [hasNav]="false">
                            <desy-nav-item [routerLink]="['/']" [active]="true">Inicio</desy-nav-item>
                            <desy-nav-item [routerLink]="[]">Expedientes</desy-nav-item>
                            <desy-nav-item [routerLink]="[]" [divider]="true">Bandejas</desy-nav-item>
                        </desy-nav>
                        <h3 class="p-base text-base font-bold">Usuario/a: Ana Pérez</h3>
                        <desy-nav [idPrefix]="'nav-mobile-user'" [ariaLabel]="'Lista de acciones de usuario'" [hasNav]="false">
                            <desy-nav-item [routerLink]="'/'">Perfil</desy-nav-item>
                            <desy-nav-item [routerLink]="'/'">Cerrar sesión</desy-nav-item>
                        </desy-nav>
                        <desy-details [summaryHtml]="'Cambiar de aplicación'" [summaryClasses]="'c-link text-sm'" [classes]="'px-base'">
                            <desy-nav [idPrefix]="'nav-mobile-apps'" [ariaLabel]="'Lista de aplicaciones'" [hasNav]="false">
                                <desy-nav-item [routerLink]="[]" [active]="true">Servicio de presentación telemática de tributos</desy-nav-item>
                                <desy-nav-item [routerLink]="[]">Catálogo de servicios</desy-nav-item>
                                <desy-nav-item [routerLink]="[]">Sistema de comprobación y verificación de documentos por CSV</desy-nav-item>
                                <desy-nav-item [routerLink]="[]">Bandeja de entrada</desy-nav-item>
                            </desy-nav>
                        </desy-details>
                    </nav>
                </aside>
            </desy-content>
        </desy-header-offcanvas>
    </desy-header>
</ngx-headroom>

<main id="content" tabindex="0" class="relative container mx-auto px-base lg:pt-14">
    <app-page-notification-header-fixed></app-page-notification-header-fixed>
    <router-outlet></router-outlet>
    <app-page-notification-footer></app-page-notification-footer>
</main>
<app-page-footer></app-page-footer>
