<section id="notification-header-container" aria-labelledby="notification-header-heading" class="sticky z-10 top-base w-full"
         [attr.aria-hidden]="isAriaHidden()" [ngStyle]="{'display':isAriaHidden()?'none':''}">
  <h2 id="notification-header-heading" class="sr-only">Avisos importantes</h2>
  <ng-template #alertsArea></ng-template>
</section>
