<div class="lg:w-3/4">
    <div class="pb-lg"></div>
    <h1 class="c-h1" id="plantillas">Plantillas para desy-angular</h1>
    <p class="c-paragraph-base">
        Aqui encontrarás plantillas y ejemplos de páginas, así como patrones o agrupaciones típicos que se utilizan en
        aplicaciones del Gobierno de Aragón. Este repositorio permite copiar-pegar código para ser utilizado en tus
        proyectos. Los ejemplos que aquí aparecen han pasado revisiones de accesibilidad, por lo que son seguros para
        ser utilizados en tus proyectos como punto de partida.
    </p>
    <div class="pb-lg"></div>

    <h2 class="c-h2">Plantillas de página</h2>
    <ul class="mb-lg">
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-out']" class="c-link">
                Plantilla sin loguear
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged']" class="c-link">
                Plantilla logueado con título de app
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-app-selector']" class="c-link">
                Plantilla logueado con selector de app
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-app-selector-fixed']" class="c-link">
                Plantilla logueado con cabecera fija
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-app-selector-fixed-headroom']" class="c-link">
                Plantilla logueado con cabecera fija con librería headroom.js
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-app-selector-sidebar']" class="c-link">
                Plantilla logueado con selector de app y sidebar
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-app-selector-subheader']" class="c-link">
                Plantilla logueado con selector de app y subheader
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/edit-selector-fixed']" class="c-link">
                Plantilla editar con cabecera fija
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/edit-selector-fixed-sidebar-sticky']" class="c-link">
                Plantilla editar con cabecera fija y sidebar sticky
            </a>
        </li>
    </ul>

    <div class="pb-lg"></div>
    <h2 class="c-h2">Spinners en plantillas</h2>
    <ul class="mb-lg">
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-out/spinner']" class="c-link"
               (click)="setDocTitle('Spinner de página en plantilla sin loguear. Gobierno de Aragón')">
                Spinner de página en Plantilla sin loguear
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged/spinner']" class="c-link"
               (click)="setDocTitle('Spinner de contenido en Plantilla logueado con título de app. Gobierno de Aragón')">
                Spinner de contenido en Plantilla logueado con título de app
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-app-selector-fixed/spinner']" class="c-link"
               (click)="setDocTitle('Spinner de contenido en Plantilla logueado con cabecera fija. Gobierno de Aragón')">
                Spinner de contenido en Plantilla logueado con cabecera fija
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/edit-selector-fixed/spinner']" class="c-link"
               (click)="setDocTitle('Spinner de contenido en Plantilla editar con cabecera fija. Gobierno de Aragón')">
                Spinner de contenido en Plantilla editar con cabecera fija
            </a>
        </li>
        <li class="mb-base">
            <a [routerLink]="['/page-templates/logged-app-selector-subheader/spinner/subsection2']" class="c-link"
               (click)="setDocTitle(' Spinner de contenido en Plantilla logueado con selector de app y subheader. Gobierno de Aragón')">
                Spinner de contenido en Plantilla logueado con selector de app y subheader
            </a>
        </li>
    </ul>
</div>
