<header class="lg:fixed lg:inset-x-0 lg:top-0 z-40 bg-white border-b border-neutral-base">
    <div class="container mx-auto px-base ">        
        <!-- headerSkipLinkBlock -->
        <desy-skip-link [fragment]="'content'" [classes]="'c-skip-link sr-only active:not-sr-only focus:not-sr-only focus:outline-none focus:shadow-outline-focus block p-base bg-warning-base text-center text-black underline'">
            Saltar al contenido principal
        </desy-skip-link>
        <!-- /headerSkipLinkBlock -->
        <div class="lg:flex lg:flex-wrap lg:w-full py-base">
            <div class="w-full">
                <!-- headerNavigationEditBlock -->
                <!-- /headerNavigationEditBlock -->
            </div>
            <div class="flex-1 mb-base lg:mb-0">
                <!-- headerTitleEditBlock -->
                <h1 class="uppercase">
                    Editando item
                    <span class="c-h3 block mt-xs normal-case">Título del item editado (h1)</span>
                </h1>
                <!-- /headerTitleEditBlock -->
            </div>
            <app-header-actions></app-header-actions>
        </div>
    </div>
</header>
