<section id="notification-footer-container" aria-labelledby="notification-footer-heading" class="fixed z-10 inset-x-0 bottom-base w-full"
         [attr.aria-hidden]="isAriaHidden()" [ngStyle]="{'display':isAriaHidden()?'none':''}">
  <div class="container mx-auto px-base">
    <h2 id="notification-footer-heading" class="sr-only">Avisos importantes a pie de página</h2>
    <ng-template #alertsArea></ng-template>
  </div>
</section>
