<desy-footer classes="mt-lg lg:mt-48">
  <desy-footer-meta visuallyHiddenTitle="Enlaces a pie de página">
    <desy-content>
      Creado por <a href="https://sda.aragon.es/" class="c-link c-link--neutral">SDA Servicios Digitales de Aragón</a>
    </desy-content>
    <desy-footer-meta-item routerLink="/">
      Accesibilidad
    </desy-footer-meta-item>
    <desy-footer-meta-item routerLink="/">
      Mapa web
    </desy-footer-meta-item>
  </desy-footer-meta>
</desy-footer>
