<div class="relative pb-2xl lg:pb-0">
  <desy-spinner [text]="text" [classes]="loadedContent ? 'sr-only' :'absolute inset-0 z-50 h-full pt-2xl text-4xl text-neutral-base'" [id]="'spinner-block'"></desy-spinner>
  <!-- This spinner must be visible for 5 seconds. When new content is loaded, the text must change to "Se ha cargado la página _título de la página_"... After 5 seconds the spinner must dissapear -->
</div>
