<section id="notification-inner-content-container" aria-labelledby="notification-inner-content-heading" class="sticky top-base z-10 lg:top-28 w-full"
         [attr.aria-hidden]="isAriaHidden()" [ngStyle]="{'display':isAriaHidden()?'none':''}">
  <h2 id="notification-inner-content-heading" class="sr-only">Avisos importantes en contenido central</h2>
  <ng-template #alertsArea></ng-template>
</section>
