<app-page-spinner-block *ngIf="showSpinner" [text]="text" [loadedContent]="loadedContent">"</app-page-spinner-block>
<div *ngIf="loadedContent" class="mt-5">
    <app-loremipsum-large></app-loremipsum-large>
</div>
