<app-page-notification-inner-content></app-page-notification-inner-content>
<h2 id="datos-generales" class="c-h1 c-anchor-scroll-edit" tabindex="-1">Datos generales (h2)</h2>
<h3 id="denominacion" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Denominación (h3)</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<app-notification-launcher></app-notification-launcher>
<div class="pb-xl"></div>

<h3 id="descripcion" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Descripción</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>

<h3 id="organos-o-unidades-gestoras" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Órganos o unidades gestoras</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>

<h3 id="categorias" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Categorías</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>

<h3 id="etiquetas-libres" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Etiquetas libres</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>
<hr class="border-neutral-base my-2xl">

<h2 id="normativa-general" class="c-h1 c-anchor-scroll-edit" tabindex="-1">Normativa general</h2>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>
<hr class="border-neutral-base my-2xl">

<h2 id="caracteristicas-generales-de-tramitacion" class="c-h1 c-anchor-scroll-edit" tabindex="-1">Características generales de tramitación</h2>
<h3 id="grupos-de-destinatarios" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Grupos de destinatarios</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>

<h3 id="destinatarios" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Destinatarios</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>

<h3 id="requisitos-generales" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Requisitos generales</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>

<h3 id="canales-de-informacion" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Canales de información</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>

<h3 id="tramites-principales" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Trámites principales</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
<div class="pb-xl"></div>

<h3 id="resolucion" [ngClass]="isEdit ? 'c-anchor-scroll-edit' : 'c-anchor-scroll'" class="c-h3" tabindex="-1">Resolución</h3>
<p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
</p>
