<div class="pb-lg"></div>
<h1 class="c-h1">Título de página (h1)</h1>
<p class="c-paragraph-base">
  Aqui un ejemplo de párrafo explicativo de la página. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, nobis quae amet esse! Accusamus, enim. Corrupti expedita officia perferendis quas dicta earum placeat voluptates, laudantium at, optio minus consequuntur pariatur.
</p>