<desy-header [expandedLogo]="true" [homepageRouterLink]="'/'" [classes]="'relative z-40'"></desy-header>
<!-- Sub header content -->
<main id="content" tabindex="0" class="relative container mx-auto px-base">
    <app-page-notification-header></app-page-notification-header>
    <router-outlet></router-outlet>
    <app-page-notification-footer></app-page-notification-footer>
</main>
<app-page-footer></app-page-footer>
