<p class="c-paragraph-base">
    Abrir <a href="javascript:void(0)" class="c-link" (click)="openHeaderNotification()">Notification header</a>,
    <a href="javascript:void(0)" class="c-link" (click)="openFooterNotification()">Notification footer</a>,
    <a href="javascript:void(0)" class="c-link" (click)="openInnerContainerNotification()">Notification inner-content (sólo en páginas con barra lateral)</a>,
    <a href="javascript:void(0)" class="c-link" (click)="openHeaderNotificationCustom(customNotifHeader, 'focus-target')">Notification header (incluye un elemento que recibe el foco al abrir)</a>,
</p>

<ng-template #customNotifHeader let-alertRef="alertRef">
    <desy-notification id="type-success-header" [isDismissible]="true" [type]="'success'" [classes]="'c-notification--success mt-base'"
                       (isOpenChange)="closeCustomAlert(alertRef)">
        <desy-title>El documento se ha cargado correctamente</desy-title>
        <desy-content>
            <a id="focus-target" href="javascript:void(0)" class="c-link">Este elemento recibe el foco tras mostrar la notificación</a>
        </desy-content>
    </desy-notification>
</ng-template>
