<div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
        <div class="lg:flex lg:flex-wrap lg:w-full">
            <div class="lg:flex lg:flex-wrap lg:justify-between lg:w-full">
                <div class="lg:flex-1 mb-base">
                    <!-- subheaderNavigation -->
                    <nav aria-label="Volver a la página anterior">
                        <desy-button [classes]="'c-button--transparent c-button--sm'" [routerLink]="'/'" >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver
                        </desy-button>
                    </nav>
                    <!-- /subheaderNavigation -->
                </div>
                <div class="flex flex-wrap lg:items-center mb-base lg:ml-auto lg:pl-base">
                    <!-- subheaderActions -->
                    <app-header-actions></app-header-actions>
                    <!-- /subheaderActions -->
                </div>
            </div>
            <div class="lg:w-full mb-base lg:mb-lg">
                <!-- subheaderTitle -->
                <h2 class="c-h2 mb-xs">Título del item (h2)</h2>
                <p class="font-semibold uppercase">Subtitulo</p>
                <!-- /subheaderTitle -->
            </div>
            <div class="order-4 w-full">
                <!-- subheaderMenu -->
                <h3 id="cabecera-menu" class="mt-lg text-sm uppercase lg:sr-only">Submenú de item</h3>
                <desy-menu-horizontal [ariaLabelledBy]="'cabecera-menu'" [classes]="'c-menu-horizontal--tabs'" >
                    <desy-menu-horizontal-item [routerLink]="[relativeRoute, 'subsection1']" routerLinkActive="active">Subsección 1</desy-menu-horizontal-item>
                    <desy-menu-horizontal-item [routerLink]="[relativeRoute, 'subsection2']" routerLinkActive="active" [active]="true">Subsección 2</desy-menu-horizontal-item>
                    <desy-menu-horizontal-item [routerLink]="[relativeRoute, 'subsection3']" routerLinkActive="active">Subsección 3</desy-menu-horizontal-item>
                    <desy-menu-horizontal-item [routerLink]="[relativeRoute, 'subsection4']" routerLinkActive="active">Subsección 4</desy-menu-horizontal-item>
                </desy-menu-horizontal>
                <!-- /subheaderMenu -->
            </div>
        </div>
    </div>
</div>
