<app-page-edit-header></app-page-edit-header>
<main id="content" tabindex="0" class="lg:pt-2xl container mx-auto px-base">
    <app-page-notification-edit></app-page-notification-edit>
    <router-outlet></router-outlet>
    <app-page-notification-footer></app-page-notification-footer>
</main>
<app-page-footer></app-page-footer>
