
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>desy-angular-templates</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/generated/css/index-styles.css">
  <link rel="icon" type="image/x-icon" href="https://aplicaciones.aragon.es/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <!--
   El spinner de nivel superior no se puede implementar usando desy-angular, porque debe renderizarse antes de cargar todos los paquetes de la
   aplicación.
   Nuestra propuesta alternativa es utilizar desy-html en su lugar. De esta forma podemos reutilizar el mismo spinner que la aplicación angular, 
   con todos sus beneficios.
   Para usar el spinner de desy-html, debe agregar los siguientes archivos:
    - gulp-index.js: procesa nunjunks desde index.html y genera un CSS mínimo para cargarlo lo más rápido posible antes de que se cargue la 
    aplicación angular. Por defecto, el css de salida se almacena en la carpeta assets/generated/css, porque debe exportarse como contenido estático.
    Puede cambiar esto o agregar esta carpeta al archivo gitignore.
   Y modificar los siguientes archivos:
    - index.html
      - Agregue la cabecera <link rel="stylesheet" href="assets/generated/css/index-styles.css"> apuntando al css de salida del proceso gulp
      - Agregue spinnerComponent nunjunk desde desy-html (ubicado en este archivo entre los comentarios main-spinner).
    - app.component.ts
      - Agregue el método removeMainSpinner e invóquelo al iniciar el componente. De esta forma, desaparecerá al iniciar la aplicación.
    - package.json
      - Agregue los siguientes paquetes de gulp como devDependencies:
        - gulp-clean
        - gulp-rename
        - gulp-clean-css
        - gulp-footer
        - gulp-nunjucks-render
        - gulp-postcss
        - gulp-strip-css-comments
      - Agregue el proceso gulp en scripts para ejecutarlo con npm
        - "gulp": "gulp --gulpfile gulp-index.js"
      - (opcional) Agregue el proceso de gulp en los scripts antes de comenzar y compilar
        - "start": "npm run gulp && NODE_ENV=DEV ng serve"
        - "build": "npm run gulp && NODE_ENV=production ng build"
    - angular.json
      - Cambie cada propiedad de índice para elegir el archivo index.html generado (por defecto en "build/index.html").

    * NOTA: Durante el desarrollo, no se puede apreciar el spinner de nivel superior. Esto se debe a que en el modo 
    de desarrollo las etiquetas <script> relacionadas con los paquetes angular, que se agregan automáticamente al index.html, 
    no tienen el atributo 'defer'. Esto hace que el navegador espere a cargar estos paquetes antes de procesar cualquier cosa.
    Por otro lado, el proceso de construcción con configuración de producción agrega estos atributos y el spinner se puede 
    mostrar antes de que se carguen los paquetes angular.
  -->

  <!-- main-spinner -->
  {% from "components/spinner/_macro.spinner.njk" import componentSpinner %}
  <aside aria-labelledby="page-spinner" id="initial-spinner">
    {{
    componentSpinner({
      "text": "Espera por favor, el contenido principal de la página se está cargando",
      "classes": "fixed inset-0 z-50 h-screen text-6xl text-neutral-base",
      "attributes": {
        "id": "page-spinner"
      }
    })
    }}
  </aside>
  <!-- /main-spinner -->

  <app-root></app-root>
</body>
</html>
