@charset "UTF-8";

/* ==========================================================================
   styles.css
   ========================================================================== */

/* import desy_team styles */
@import 'tippy.js/dist/tippy.css';
@import 'desy-html/src/css/styles.css';

/* CSS para el uso de headroom */
@layer base {
   html {
     scroll-behavior: smooth;
   }
 
   @media screen and (prefers-reduced-motion: reduce) {
     html {
       scroll-behavior: auto;
     }
   }
 }

@layer components {
    .headroom {
       @apply lg:fixed !important;
       @apply lg:top-0;
       @apply lg:w-full;
       @apply lg:transform;
       @apply lg:transition-transform;
       @apply lg:duration-500;
       @apply lg:z-10;
    }
    .headroom--pinned {
       @apply lg:translate-y-0;
    }
    .headroom--unpinned {
       @apply lg:-translate-y-full;
    }

    .c-anchor-scroll {
       scroll-margin-top: 4rem;
    }

    .c-anchor-scroll-edit {
       scroll-margin-top: 5.375rem;
    }
}
/* /CSS para el uso de headroom */
