<desy-header [homepageRouterLink]="''" [expandedLogo]="true">
    <desy-header-navigation>
        <desy-header-navigation-item [routerLink]="'/'" [active]="true">Inicio</desy-header-navigation-item>
        <desy-header-navigation-item [routerLink]="''" [fragment]="'plantillas'">Plantillas</desy-header-navigation-item>
    </desy-header-navigation>
    <desy-header-offcanvas>
        <desy-header-offcanvas-button>Menu</desy-header-offcanvas-button>
        <desy-header-offcanvas-close-button>Cerrar menu</desy-header-offcanvas-close-button>
        <desy-content>
            <nav class="w-full p-2" aria-label="Menú móvil">
                <h3 class="p-base text-base font-bold">Plantillas para desy-angular</h3>
                <desy-nav idPrefix="nav-mobile-pages" [hasNav]="false" ariaLabel="Lista de páginas">
                    <desy-nav-item [routerLink]="['/']" [active]="true">Inicio</desy-nav-item>
                    <desy-nav-item [routerLink]="[]" [fragment]="'plantillas'">Plantillas</desy-nav-item>
                </desy-nav>
            </nav>
        </desy-content>
    </desy-header-offcanvas>
</desy-header>

<main id="content" tabindex="0" class="container mx-auto px-base">
    <router-outlet></router-outlet>
</main>

<desy-footer [classes]="'lg:mt-48'">
    <desy-footer-meta [visuallyHiddenTitle]="'Enlaces a pie de página'">
        <desy-footer-meta-item [href]="'#'">Accesibilidad</desy-footer-meta-item>
        <desy-footer-meta-item [href]="'#'">Mapa web</desy-footer-meta-item>
        <desy-content>
            Creado por <a href="https://sda.aragon.es/" class="c-link c-link--neutral">SDA Servicios Digitales de Aragón</a>
        </desy-content>
    </desy-footer-meta>
</desy-footer>
